body {
    font-family: "Segoe UI";
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

label {
    display: block;
    padding: 7px 0;
    font-weight: 600;
}

input:not(input[type="radio"]), textarea {
    border: solid 1px rgba(119, 136, 153, 0.5);
    padding: 0.7rem 1rem;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Segoe UI";
}

input:not(input[type="radio"], input[type="submit"]):focus, textarea:focus {
    border-color: transparent;
    outline: none;
    box-shadow: 0px 0px 0px 2px dodgerblue, 0px 0px 0px 5px rgba(30, 143, 255, 0.199);
}

.sec-title {
    font-weight: 600;
}

#billing-details {
    flex-grow: 2;
}

.field {
    display: flex;
    flex-direction: column-reverse;
}

input:not(input[name="methodOfPayment"]):focus + label {
    color: dodgerblue;
}

input:required:not(input[name="methodOfPayment"]) + label::after {
    content: " (*)";
    color: crimson;
}

#billing-details > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#delivery-location-field, #order-note-field {
    grid-column: span 2;
}

#billing-details input, #billing-details textarea {
    min-width: 250px;
}

#order-note {
    resize: vertical;
    min-height: 100px;
    max-height: 250px;
}

#order {
    flex-grow: 3;
    min-width: 550px;
}
#order-details {
    background: rgba(119, 136, 153, 0.15);
    padding: 1.5rem;
    border-radius: 4px;
    margin: 2rem 0;
    color:rgb(43, 43, 43);
    /* box-shadow: 7px 7px 0px rgba(119, 136, 153, 0.5); */
}
#order-details .title {
    color: #000;
    font-weight: 600;
}
#item-list {
    width: 100%;
    padding: 0 0 0.8rem 0;
}
#item-list th {
    font-weight: 600;
    padding-bottom: 0.4rem;
}
#item-list .order-item td {
    padding: 0.7rem 0;
}
.order-part {
    border-bottom: solid 1px rgba(119, 136, 153, 0.217);
    padding: 1.5rem 0;
}
.order-part.inline {
    display: flex;
    justify-content: space-between;
}
.currency {
    text-align: right;
}
.currency::before {
    content: "$";
}
#total .currency {
    color: dodgerblue;
    font-weight: 600;
}
.free-shipping {
    font-style: italic;
}
#place-order-btn {
    width: 100%;
    background: rgb(43, 43, 43);
    color: #f1f1f1;
    text-transform: uppercase;
    border: none;
    padding: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
#place-order-btn:hover {
    background: dodgerblue;
}

@media screen and (max-width: 1170px) {
    #billing-details .field {
        min-width: 300px;
    }
    #recipient-field, #phone-number-field {
        grid-column: span 2;
    }
    #order {
        min-width: 450px;
    }
}

#payment {
    border-bottom: none;
    padding-bottom: 0rem;
}
#payment .title {
    margin-bottom: 1rem;
}
#payment .payment-option {
    display: flex;
    gap: 0 7px;
}
#payment input[type="radio"] {
    width: initial;
    margin: 0;
    padding: 0;
}
#payment .payment-option label {
    flex-grow: 1;
    font-weight: 400;
}
.payment-option.disabled label {
    color: rgb(186, 187, 193);
}

@media screen and (max-width: 700px) {
    form {
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    form {
        padding: 0.5rem;
    }
    #order {
        min-width: unset;
        max-width: 100%;
    }
    #order-details {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    #order-details > * {
        min-width: 350px;
    }
}