* {
    font-family: "Segoe UI", serif;
}

#status-filter {
    margin-top: 1rem;
}
.tab-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
.tab {
    padding: 0.2rem 1.2rem;
    border-right: solid 1px rgba(43, 43, 43, 0.2);
    color: rgba(43, 43, 43, 0.6);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.15rem;
    cursor: pointer;
}
.tab:hover {
    color: rgb(43, 43, 43);
}
.tab.active {
    color: dodgerblue;
}
.tab:last-child {
    border-right: none;
}

#order-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
}
#order-list a {
    color: initial;
    text-decoration: none;
}
.order {
    padding: 1.5rem;
    background: #f1f1f1;
    border-radius: 4px;
    display: grid;
    justify-content: space-between;
    gap: 0 1rem;
    grid-template-columns: auto auto;
    box-sizing: border-box;
}
.order:hover {
    background: rgba(30, 144, 255, 0.15);
}
.order .name {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}
.order:hover .name {
    color: dodgerblue;
}
.order:hover .name::after {
    content: "\f0c1";
    font-family: "Font Awesome 5 Free";
    font-size: 0.92em;
    margin-left: 3px;
    color: inherit;
}
.order .date {
    font-style: italic;
    color: rgba(43, 43, 43, 0.6);
    margin: 0.5rem 0;
    order: 2;
}
.order .price {
    font-weight: 600;
    font-size: 1.05rem;
    order: 3;
}
.currency::before {
    content: "$ ";
}
.order .status {
    grid-row: 3 span;
    font-weight: 600;
    align-self: center;
    text-transform: uppercase;
    order: 1;
}
.order .status.pending, .order.status.preparing, .order.status.delivering {
    color: orange;
}
.order .status.received {
    color: dodgerblue;
}
.order .status.refused {
    color: crimson;
}

.actions-container {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 0.8rem 1.8rem;
    color: dodgerblue;
    background-color: rgba(30, 144, 255, 0.15);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 600;
}
.btn:hover {
    background: rgba(30, 144, 255, 0.95);
    color: #f1f1f1;
}
#more-order-btn {
    margin-bottom: 2rem;
}

.fas {
    color: inherit;
}

@media screen and (max-width: 600px) {
    #order-list, #filter-container {
        padding: 0.5rem;
    }
    .order {
        grid-template-columns: auto;
    }
    .order .status {
        order: 10;
        margin-top: 1rem;
    }
}