<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navigation.css">

    <script src="https://kit.fontawesome.com/a46c56187f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="/fragments/navigation.html :: nav"></div>
    <div id="products-container" th:fragment="product-list-grid">
        <div id="open-filter">
            <i class="fas fa-filter"></i>
        </div>
        <form id="filters" class="hidden" th:object="${specs}">
            <div class="close-btn">
                <i class="far fa-times-circle"></i>
            </div>
            <input th:field="*{keyword}" type="search" placeholder="Search...">
            <select th:field="*{category}">
                <option value="">CATEGORY</option>
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
            </select>
            <select th:field="*{brand}">
                <option value="">BRAND</option>
                <option th:each="brand : ${brands}" th:value="${brand.name}" th:text="${brand.name}"></option>
            </select>
            <input th:field="*{minPrice}" type="number" min="0" placeholder="Min Price">
            <input th:field="*{maxPrice}" type="number" min="0" placeholder="Max Price">
            <select th:field="*{sortedBy}">
                <option value="">Sorted By</option>
                <option value="price_asc">Price Ascending</option>
                <option value="price_desc">Price Descending</option>
                <option value="rating_asc">Rating Ascending</option>
                <option value="rating_desc">Rating Descending</option>
                <option value="newest">Newest First</option>
                <option value="oldest">Oldest First</option>
                <option value="name_asc">Name A-Z</option>
                <option value="name_desc">Name Z-A</option>
            </select>

            <input type="submit" value="Filter">
        </form>
        <div id="product-list" class="grid-container">

        </div>
        <div>
            <button id="load-product-btn">
                More
            </button>
        </div>
    </div>

    <script type="module" src="/js/index.js"></script>
</body>
</html>