<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/order-management.css">

    <script src="https://kit.fontawesome.com/a46c56187f.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="/fragments/navigation.html :: nav"></div>
<ul id="order-list">

</ul>
<div class="actions-container">
    <button id="more-order-btn" class="btn">
        More
        <i class="fas fa-chevron-down"></i>
    </button>
</div>

<script type="module" src="/js/order-management.js"></script>
</body>
</html>