<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/product-form.css">

    <script src="https://kit.fontawesome.com/a46c56187f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main-container">
        <div id="product-container">
            <div id="images">

            </div>
            <div id="basic-info">
                <h2>Name</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deleniti error, laborum nostrum possimus ut. Adipisci excepturi, veritatis. Dignissimos, harum.</p>
                <div id="product-actions">
                    <div class="number-selector">
                        <div class="change-value-btn decrease">-</div>
                        <input type="number" min="0" value="1">
                        <div class="change-value-btn increase">+</div>
                    </div>
                    <div>
                        <button id="add-cur-to-cart-btn">
                            Add To Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="more-details">
            <div class="tab-selector">
                <div class="tab">Details</div>
                <div class="tab">Reviews</div>
            </div>
            <div class="tab-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quidem.
            </div>
        </div>
    </div>
</body>
</html>