<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div id="container">
        <div id="messages">
            <ul class="message success">
                Successfully registered. <a href="/login">Login</a>.
            </ul>
            <ul class="message error">

            </ul>
        </div>
        <form id="registration-form">
            <div class="field username">
                <input type="text" id="username" required autofocus name="username">
                <label for="username">Username</label>
            </div>
            <div class="field">
                <input type="password" id="password" required name="password">
                <label for="password">Password</label>
            </div>
            <div class="field">
                <input type="password" id="re-password" required>
                <label for="re-password">Re-Password</label>
            </div>
            <div class="field">
                <input type="text" id="first-name" name="firstName">
                <label for="first-name">First Name</label>
            </div>
            <div class="field">
                <input type="text" id="last-name" required name="lastName">
                <label for="last-name">Last Name</label>
            </div>
            <div class="field email">
                <input type="email" id="email" required name="email">
                <label for="email">Email</label>
            </div>
            <div id="roles" class="field" th:if="${rolesManaged}">
                <label class="role" th:each="role : ${rolesManaged}">
                    <input type="checkbox" name="authority" th:value="${role.name}">
                    <th:block th:text="${role.name}"></th:block>
                </label>
                <label>Roles</label>
            </div>

            <input id="register-btn" type="submit" value="Register">
        </form>
        <hr>
        <div id="nav">
            Already have an account ? <a href="/login">Login</a>
        </div>
    </div>

    <script type="module">
        import ajaxRequest from "/js/modules/ajaxrequest.js";

        const createUserObjectFrom = function (form) {
            let data = new FormData(form);
            let user = {
                "username": data.get("username"),
                "password": data.get("password"),
                "details": {
                    "firstName": data.get("firstName"),
                    "lastName": data.get("lastName"),
                    "email": data.get("email"),
                },
                "authorities": []
            };

            let authorityEles = document.querySelectorAll("input[name='authority']:checked");
            for (let authEle of authorityEles) {
                user.authorities.push({
                    "name": authEle.value
                });
            }

            return user;
        }

        window.onload = function() {
            let form = document.getElementById("registration-form");
            form.onsubmit = function(e) {
                e.preventDefault();

                // check password match
                let passwordEle = document.getElementById("password");
                let rePasswordEle =document.getElementById("re-password");
                if (passwordEle.value !== rePasswordEle.value) {
                    passwordEle.value = "";
                    rePasswordEle.value = "";
                    alert("Password and Re-Password don't match");
                    return;
                }

                // create user object
                let user = createUserObjectFrom(this);

                // send request for registering
                ajaxRequest.doPost(`/api/v1/users`, user, (success, res) => {
                    const successMessageArea = document.querySelector("#messages .success");
                    const failMessageArea = document.querySelector("#messages .error");

                    if (success) {
                        successMessageArea.style.display = "block";
                        failMessageArea.style.display = "none";
                        form.reset();
                        window.scrollTo(0,0);
                    } else {
                        failMessageArea.style.display = "block";
                        failMessageArea.innerHTML = "";
                        for (let msg of res.messages) {
                            failMessageArea.innerHTML += `<li>${msg}</li>`;
                        }
                    }
                });
            }
        }
    </script>
</body>
</html>